{% extends "tasks/layout.html" %}

{% block body %}
    <ul>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ul>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>

    <h1>Add Tasks</h1>
    <form action="{%url 'tasks:add' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task">
        <input type="submit">
    </form>

    <form action="{%url 'tasks:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

    <a href="{% url 'tasks:index' %}">View Tasks.</a>
{% endblock %}
